<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test2 with microphone</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/three.js/r67/three.min.js"></script>
	<script type='text/javascript' src='js/dat.gui.js'></script>
	<script type="text/javascript" src="js/sound.js"></script>
	<script type="text/javascript" src="js/shapes.js"></script>
	<script type="text/javascript" src="js/controls.js"></script>

	<script type="text/javascript" src="js/landscape.js"></script>
	<script type="text/javascript" src="js/landscape_test.js"></script>

	<script type="text/javascript" src="js/microphone.js"></script>
	<!--<link rel="stylesheet" href="css/style.css">-->
	<script src="js/control_panel.js"></script>
	<script type="text/javascript" src="js/documentready.js"></script>
</head>
<body>

	<div class="menu">
		<h1>SYNC</h1>
		<h3>Effects</h3>
		<p id="cube">Cube</p>
		<p id="landscape">Landscape</p>
		<p id="landscapeNew">New landscape</p>
		<div id="microphone">Use microphone</div>
		<div id="song">Use song</div>
	</div>

	<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/three.js/r67/three.min.js"></script>-->
</body>
</html>