@media(max-width: 650px){

	canvas{
		display: none;
	}

	#mobile{
		display: block;
		width: 70%;
		background-color: rgb(39,39,39);
		text-align: center;
		margin: 30% 10%;
		position: absolute;
		z-index: 20;
		color: white;
	}

	#mobile p{
		font-size: 15px;
		/*font-weight: bold;*/
		font-family: Helvetica;
		line-height: 17px;
	}
}